.menu {
  position: relative;
  height: $menu-height;
  background: $white;
  padding: 0.25rem;

  &__container {
    display: flex;
    max-width: 1280px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    @media (max-width: $breakpoint-phone) {
      padding: 0 2vw;
    }
  }

  &__controls {
    width: 14rem;
    display: flex;
    justify-content: flex-end;
    @media (max-width: $breakpoint-phone) {
      &--first {
        display: none;
      }
    }
  }
  &__button {
    margin-left: 0.5rem;
    text-decoration: none;
    font-size: 1.05rem;
    letter-spacing: 0.025rem;
    padding: 0.25rem 0.75rem;
    &:hover {
      color: $white;
      background: $primary-mid;
    }
    @media (max-width: $breakpoint-phone) {
      padding: 0.25rem 0.5rem;
    }
  }
  &__logo {
    font-family: 'Monoton', cursive;
    font-size: 40px;
    & a {
      color: transparent;
      background-position-y: -0%;
      background-image: linear-gradient($black, $primary);
      -webkit-background-clip: text;
      -moz-background-clip: text;
      transition: background 1400ms ease;
      background-size: auto 300%;

      &:hover {
        background-position-y: 100%;
      }
    }
  }

  /* Shadow */
  &:after {
    bottom: -5px;
    box-shadow: inset 0 4px 8px -3px hsla(0, 0%, 7%, 0.06);
    content: '';
    height: 5px;
    left: 0;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 2050;
  }
}
