.playBarContainer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.playBar {
  width: 100%;
  height: auto;
  padding: 0.5rem;
  background: $secondary-bg;
  display: flex;
  justify-content: space-between;

  &__icon {
    color: $secondary;
    transition: color 0.5s ease;
    margin: 1.25vw;
    font-size: 1.3rem;

    &--big {
      font-size: 1.6rem;
      margin: 1.25vw;
    }
    &--small {
      font-size: 1rem;
      margin: 1vw;
    }

    &:hover, &--checked {
      color: $secondary-dark;
    }
  }


  /* Info column*/
  &__info {
    width: 30%;
    justify-self: flex-start;
    display: flex;
    align-items: center;
  }
  &__title, &__author {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
  }
  &__title {
    margin-bottom: 0.3rem;
    font-size: 1.2rem;
    font-weight: 500;
  }
  &__preview > *,&__preview > span > * {
    width: 120px;
    height: 80px;
    margin-right: 1rem;
  }

  /* Main controls column*/
  &__main {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Settings column */
  &__settings {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
