.playlist {
  background: linear-gradient($backgroundGray, $secondary-light);
  width: 100%;
  height: 100%;
  border-right: 1px solid $secondary-bg;
  overflow: hidden;

  &__title {
    margin-top: 1.2rem;
    margin-bottom: 0;
    color: $darkGray;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-weight: 400;
    font-size: 1.6rem;

  }
  &__stats {
    margin-top: 0.7rem;
    text-align: center;
    font-weight: 400;
    font-size: 0.9rem;
  }
  &__container {
    height: calc(100% - 5.4rem);
    overflow-x: auto;
    border-top: 2px solid $secondary-bg;
  }
}
.playlistItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.2rem;
  transition: all 0.3s ease;
  color:$darkGray;
  cursor: pointer;

  &:hover {
    background-color: $backgroundTransparent;
    color:$black;
  }
  &__title, &__channel {
    font-weight: 500;
    margin: 0;
    font-size: 1.1rem;
  }
  &__channel {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    font-weight: 400;
  }
  &__info {}
  &__imgContainer {
    width: 30%;
    max-width: 150px;
  }
  &__thumbnail {
    max-width: 100%;
  }
}