.playlistContainer {
  display: flex;
  height: $app-height;
  &__sidebar {
    width: $sidebar-width;
    max-width: $sidebar-maxWidth;
  }
  &__search {
    flex: 1;
    &--loading {
      @include flexCenter;
    }
  }
}
