
$midnight-blue: #362b66;
$primary: red;
$secondary: #009999;
$secondary-bg: #d3f1ef;
$secondary-light: #dbf9f7;
$secondary-middle: #b5e9eb;
$secondary-dark: #005D5D;
$black: #000;
$white: #fff;
$darkGray: #616161;
$backgroundGray: #f7f9fa;
