* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: $background-gray;
  height: 100%;
  min-width: $min-app-width;
}
button {
  cursor: pointer;
}

.App {
  width: 100%;
  padding-top: $menu-height;
}
.no-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.center {
  text-align: center;
}
.button {
  padding: 0.75rem 3rem;
  font: inherit;
  display: block;
  margin: 1rem;
  outline: none;
  text-align: center;
  text-decoration: none;
  border: none;
  background: $purple;
  border-radius: $border-radius;
  color: $white-side;
  transition: all 0.3s ease;
  box-shadow: 0 0 3px 0 $white-blue;

  &:hover {
    color: $white-almost;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
  }
}

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin bodyBackgroundFull {
  width: 100%;
  height: calc(100vh - #{$menu-height});
  background-size: cover;
  background-position: center;
}
