* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: $white-back;
  height: 100%;
}
button {
  cursor: pointer;
}

.no-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.center {
  text-align: center;
}
.button {
  padding: 0.5rem;
  font: inherit;
  color: $primary-dark;
  outline: none;
  background: none;
  border: 2px solid $primary-mid;
  border-radius: 5px;
  transition: all 0.3s;

  &:hover {
    background: $primary-mid;
    color: $white;
  }
}

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
