
$midnight-blue: #362b66;
$black: #000;
$white: #fff;
$gray: #9d9d9d;
$darkGray: #616161;
$primary: red;
$primary-mid: #d10000;
$primary-dark: #a40000;

$secondary: #009999;
$secondary-bg: #d3f1ef;
$secondary-light: #dbf9f7;
$secondary-middle: #b5e9eb;
$secondary-dark: #005D5D;

$background-gray: #f7f9fa;
$background-darkGray: #efeff1;
$background-transparent: rgba(50,50,50,0.1);

// New colors
$blue-navy: #041260;
$blue-basic: #2A46F8;
$blue-dark: #1B1C4F;
$blue-transparent: rgba(102,103,132,0.35);

$white-almost: #F4EDED;
$white-blue: #9B9FB7;


// Breakpoints
$breakpoint-phone: 700px;

//Other
$padding-box: 1.3rem;

$menu-height: 5rem;