.login {
  width: 100%;
  &__header {
    text-align: center;
  }
  &__content {
    width: calc(100% - 5rem);
    display: flex;
    justify-content: space-evenly;
    margin: 3rem auto;
  }
  &__buttons,
  &__create {
    width: 45%;
    padding: 3rem 4rem;
    text-align: center;
    background: $white;
    border-radius: 0.2rem;
    box-shadow: 0px 3px 3px 2px rgba(157, 157, 157, 0.49);
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__create {
    padding-top: 5rem;
  }
  &__button {
    width: 100%;
    margin: 0.5rem;

    &--create {
      display: block;
      margin: 4.25rem auto 0;
    }
  }
}
