.playlistItem {
  position: relative;
  display: flex;
  margin: 0.85rem 1rem;

  &__hover, &__normal {
    display: flex;
    height: 5rem;
    width: 100%;
    background: $blue-purple-light;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
    color: $white-almost;
    border-radius: $border-radius;
    box-shadow: 0 0 15px $blue-shadow;
    cursor: pointer;
    perspective: 40rem;
    perspective-origin: 50% 50%;
  }
  &__hover {
    backface-visibility: hidden;
    transform: rotateX(-180deg);
    background-color: $blue-dark;
    position: absolute;
    top: 0;
    left: 0;
  }
  &__normal {
    backface-visibility: hidden;
  }

  &:hover {
    .playlistItem__normal {
      transform: rotateX(180deg);
    }
    .playlistItem__hover {
      transform: none;
    }
  }
  &--playing > div{
    background: $white-side;
    color: $blue-navy;
    &:hover {
      background: $white-almost;
    }
  }
  &--playing &__title, &--playing &__channel {
    color: $blue-navy;
  }
  &__title {
    font-weight: 500;
    margin: 0;
    font-size: 0.95rem;
  }
  &__left {
    width: 2rem;
    @include flexCenter;
  }
  &__channel {
    margin: 0.5rem 0 0;
    font-size: 0.87rem;
    font-weight: 400;
  }
  &__info {
    flex: 1;
  }
  &__imgContainer, &__controls {
    position: relative;
    margin-left: 0.5rem;
    width: 30%;
    max-width: 150px;
    height: 100%;
  }
  &__duration {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 0.73rem;
    padding: 0.11rem 0.18rem;
    background: $black;
    color: $white-almost;
  }
  &__thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-right-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }
  &__controls {
    display: flex;
  }
  &__handle {
    cursor: move;
    @include flexCenter;
  }
  &__delete {
    border-bottom-right-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }
  &__handle, &__delete {
    width: 3rem;
    flex: 1;
    font-size: 1.3rem;
    transition: all 0.3s ease;
    &:hover {
      background: $purple;
      color: $white-almost;
    }
  }
}
.playlistScrollbar {
  @extend .customScrollbar;
  &::-webkit-scrollbar-track {
    border-radius: $border-radius;
    background-color: $white-blue;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: $border-radius;
    background-color: $blue-basic;
  }
}

